<div class="track">

  <h1> <%= track.title %> </h1>
  <h2> artist: <%= track.band.name %>  </h2>
  <h2> album: <%= track.album.title %> </h2>
  <h2> track no. <%= track.ord %> </h2>
  <h2> <%= track.bonus? == true ? 'bonus track' : '' %> </h2>
  <br>
  <h2>lyrics:</h2>
  <div class="lyrical">
    <%= ugly_lyrics(track.lyrics) %>
  </div>
  <br>
  <% if current_user.admin == true %>
    <%= link_to "edit", track_url(track), method: :delete %>
    <br>
    <%= link_to "delete", edit_track_url(track)%>
  <% end %>

</div>
