<h1> <%= track.title %> </h1>
<h2> artist: <%= track.band.name %>  </h2>
<h2> album: <%= track.album.title %> </h2>
<h2> track no. <%= track.ord %> </h2>
<h2> <%= track.bonus? == true ? 'bonus track' : '' %> </h2>
<br>
<h2>lyrics:</h2>
<%= ugly_lyrics(track.lyrics) %>
<br>
  <% if current_user.admin == true %>
    <%= link_to "delete this funky track", track_url(track), method: :delete %>
    <br>
    <%= link_to "edit this funky track", edit_track_url(track)%>
  <% end %>
