<h1> <a href="<%= album_url(album.id) %>"><%= album.title %></a></h1>
<h2> by: <%= album.band.name %> </h2>
<h2> <%= album.year %> </h2>
<h2> <%= album.studio? == true ? 'studio album' : 'live album' %> </h2>
<br>
  <ul>
  <% album.tracks.each do |track| %>
    <li><a href="<%= track_url(track) %>"><%= track.title %></a></li>
  <% end %>
  </ul>
  <% if current_user.admin == true %>
    <%= link_to "delete this funky album", album_url(album), method: :delete %>
    <br>
    <%= link_to "edit this funky album", edit_album_url(album)%>
  <% end %>
