<div class="outer">
  <div class="album">
    <div class="left">
      <h1> <a href="<%= album_url(album.id) %>"><%= album.title %></a></h1>
      <div class="crop">
        <%= image_tag("#{album.image}") %>
      </div>
      <h2> <%= album.year %> </h2>
      <h2> <%= album.studio? == true ? 'studio album' : 'live album' %> </h2>
    </div>
    <div class="right">
      <h2> by: <br><%= album.band.name %> </h2>
      <br>
      <ul>
      <% album.tracks.each do |track| %>
        <li><a href="<%= track_url(track) %>"><%= track.title %></a></li>
      <% end %>
      </ul>
    </div>

  </div>
  <div class="admin">

    <% if current_user.admin == true %>
      <%= link_to "^ edit", edit_album_url(album)%>
      <br>
      <%= link_to "^delete", album_url(album), method: :delete %>
    <% end %>
  </div>
</div>
