<div class="form-thing">

  <h1>Edit an Album</h1>

  <form class="form-thing" action="<%= album_url(@album) %>" method="post">
    <input type="hidden" name="_method" value="PATCH">

    <%= auth_token %>

    <label>title:
      <input type="text" name="album[title]" value="<%= @album.title %>">
    </label>
    <br>
    <label>year:
      <input type="text" name="album[year]" value="<%= @album.year %>">
    </label>
    <br>
    <label>band:
      <select name="album[band_id]">
        <% @bands.each do |band| %>
          <option value="<%= band.id %>" <%= "selected" if @album.band == band %> ><%= band.name %></option>
        <% end %>
      </select>
    </label>
    <br>
    <label>Studio Album
      <input type="radio" name="album[studio?]" value="true" <%= "checked" if @album.studio? %> >
    </label>
    <label>Live Album
      <input type="radio" name="album[studio?]" value="false" <%= "checked" if !@album.studio? %> >
    </label>
    <br>
    <input type="submit" name="Add Band!">

  </form>

</div>
