<div class="band">

  <h1> <a href="<%= band_url(band.id) %>"><%= band.name %></a></h1>
  <div class="crop">
    <%= image_tag("#{band.albums.last.image}") %>
  </div>
  <br>
  <ul>
  <% band.albums.each do |album| %>
    <li><a href="<%= album_url(album) %>"><%= album.title %></a></li>
  <% end %>
  </ul>
  <br>
  <% if current_user.admin == true %>
    <%= link_to "delete", band_url(band), method: :delete %>
    <br>
    <%= link_to "edit", edit_band_url(band)%>
  <% end %>

</div>
