<!DOCTYPE html>
<html>
  <head>
    <title>RecordLabel</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>

    <header>
      <div><h3>Extreme Logo</h3></div>
      <h1>We Got The Music</h1>
      <div class="main-links">
        <% if !self.current_user %>
          <div><%= link_to "Log In", new_session_url %></div>
          <div><%= link_to "Sign Up", new_user_url %></div>
        <% else %>
          <h3>logged in: <%= current_user.email %></h3>
          <%= link_to "Log Out", session_url, method: :delete %>
        <% end %>
      </div>
    </header>

    <div class="nav">
      <div><%= link_to "Albums", albums_url %></div>
      <div><%= link_to "Bands", bands_url %></div>
      <div><%= link_to "Tracks", tracks_url %></div>

      <% if current_user && current_user.admin == true %>
        <div><%= link_to "Add Album", new_album_url %></div>
        <div><%= link_to "Add Band", new_band_url %></div>
        <div><%= link_to "Add Track", new_track_url %></div>
      <% end %>

      <div>
        <form class="search" action="/search" method="post">
          <%= auth_token %>
          <select name="search[category]">
            <option value="" selected disabled>search category</option>
            <option value="bands">bands</option>
            <option value="albums">albums</option>
            <option value="tracks">tracks</option>
            <option value="tags">tags</option>
          </select>
          <input type="text" name="search[value]" value="">
          <input type="submit" name="" value="search">
        </form>
      </div>
    </div>


    <ul>

      <% flash[:errors].try(:each) do |err| %>
        <li><%= err %></li>
      <% end %>

    </ul>

    <%= yield %>

    <footer>
      <p>don't look down here, it's too dangerous</p>
    </footer>

  </body>
</html>
